@import './base.css';
@import "tailwindcss";

#app { 
  font-weight: normal;
  width: 100%;  
}  

@media (min-width: 1024px) {
  body {
    display: flex; 
  } 
}

@theme {
  --color-primary: #0EA5E9;
  --color-accent: #14B8A6;
  --color-text-dark: #111827;
  --color-text-light: #4B5563;
}
